/* styles/globals.css */

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Gotham Book globally */
@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/GothamBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply p-0 m-0 w-full;
  font-family: 'Gotham Book', sans-serif;
}

html, body {
  overflow-x: hidden;
}

/* Custom styling for the carousel dots */
.slick-dots.custom-dots {
  bottom: -25px; /* Adjust position if needed */
}

.slick-dots.custom-dots li {
  margin: 0 4px;
}

.slick-dots.custom-dots li button {
  /* Hide the default button styles */
  font-size: 0;
  border: none;
  background: transparent;
  padding: 0;
}

.slick-dots.custom-dots li .custom-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc; /* Non-active dot color */
  cursor: pointer;
}

.slick-dots.custom-dots li.slick-active .custom-dot {
  background-color: #000; /* Active dot color */
}