/* styles/globals.css */

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Gotham Book globally */
@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/GothamBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-gray-50 p-0 m-0 w-full;
  font-family: 'Gotham Book', sans-serif;
}

/* Custom styling for the carousel dots */
.slick-dots {
  bottom: -25px; /* Adjust position if needed */
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #ccc; /* Default color for non-active dots */
}

.slick-dots li.slick-active button:before {
  color: #000; /* Active dot color */
}

/* Optional: Customize the dot size and appearance */
.slick-dots li button {
  font-size: 0; /* Hide the default button text */
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #000;
}
