/* globals.css */
@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/GothamBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Gotham Book globally */
html,
body {
  @apply bg-gray-50 p-0 m-0 w-full;
  font-family: 'Gotham Book', sans-serif;
}

/* * {
  @apply box-border;
} */

/* globals.css */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Custom styling for the carousel dots */
.slick-dots li button {
  font-size: 0; /* Hide the default button text */
  width: 16px; /* Increased size for the dots */
  height: 16px;
  background-color: #ccc; /* Default color for non-active dots */
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #000; /* Active dot (black) */
}
